<section class='post'>
  <div class='post--info'>
    <div class='post--info-creator'>
      <%= display_user post %>
    </div>
  </div>

  <p class='post--body'>
    <%= post.body %>
  </p>
</section>
