<section class='post'>
  <div class='post--info'>
    <div class='post--info-creator'>
      <%= display_user post %>
    </div>
  </div>

  <div class='post--body'>
    <%= markdownify post.body %>
  </div>
</section>
