form.button_to {
  display: inline;
}

.button {
  display: inline-block;
  background: hsl(240, 10%, 38%);
  border: none;
  border-bottom: 1px solid hsl(240, 8%, 20%);
  margin-top: -1px;
  padding: 5px 10px;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    border-bottom: none;
    margin-top: 0;
  }
}
