<h2 class='header'>
  Posts

  <small class='header--right'>
    <%= link_to 'New Post', new_post_path, class: 'header--button' %>
  </small>
</h2>

<nav class='pagination'>
  <span class='pagination--info'>[Number of posts]</span>
  <span class='pagination--pages'>[Page navigation]</span>
</nav>

<div class='posts'>
  <%= render @posts %>
</div>

<nav class='pagination'>
  <span class='pagination--info'>[Number of posts]</span>
  <span class='pagination--pages'>[Page navigation]</span>
</nav>
